{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="page_loader"></div>

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{ car.title|upper }}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'cars' %}">Carros</a></li>
                <li class="active">{{ car.title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        <div class="pull-left">
                            <h3>{{ car.title }}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{ car.city }}, {{ car.district }}
                            </h6>
                            <!-- Status Badge -->
                            {% if car.status == 'reserved' %}
                                <span class="badge badge-warning">
                                    <i class="fa fa-clock"></i> Reservado
                                </span>
                            {% elif car.status == 'sold' %}
                                <span class="badge badge-secondary">
                                    <i class="fa fa-handshake"></i> Vendido
                                </span>
                            {% else %}
                                <span class="badge badge-success">
                                    <i class="fa fa-check"></i> Disponível
                                </span>
                            {% endif %}
                        </div>
                        <div class="pull-right">
                            <h3>
                                <span>€{{ car.price|floatformat:0 }}</span>
                                {% if car.negotiable %}
                                    <small class="text-muted">(Negociável)</small>
                                {% endif %}
                            </h3>
                            {% if car.original_price and car.original_price > car.price %}
                                <small class="text-muted">
                                    <del>€{{ car.original_price|floatformat:0 }}</del>
                                </small>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Image Slider -->
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            {% for photo in car.photos.all %}
                                <div class="{% if forloop.first %}active{% endif %} item carousel-item" data-slide-number="{{ forloop.counter0 }}">
                                    <img src="{{ photo.photo.url }}" class="img-fluid" alt="{{ car.title }} - Foto {{ forloop.counter }}">
                                </div>
                            {% empty %}
                                <div class="active item carousel-item" data-slide-number="0">
                                    <div class="bg-light d-flex align-items-center justify-content-center" style="height: 400px;">
                                        <div class="text-center">
                                            <i class="fa fa-car fa-5x text-muted mb-3"></i>
                                            <p class="text-muted">Sem fotos disponíveis</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- main slider carousel nav controls -->
                        {% if car.photos.count > 1 %}
                            <ul class="carousel-indicators car-details-sliders-indicators list-inline nav nav-justified">
                                {% for photo in car.photos.all %}
                                    <li class="list-inline-item {% if forloop.first %}active{% endif %}">
                                        <a id="carousel-selector-{{ forloop.counter0 }}" class="{% if forloop.first %}selected{% endif %}" data-slide-to="{{ forloop.counter0 }}" data-target="#carDetailsSlider">
                                            <img src="{{ photo.photo.url }}" class="img-fluid" alt="thumbnail {{ forloop.counter }}">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <!-- Car Overview -->
                    <div class="car-overview mb-45">
                        <div class="car-overview-inner">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-dashboard"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Quilometragem</h6>
                                            <p>{{ car.mileage|floatformat:0 }} km</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-transport"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Transmissão</h6>
                                            <p>{{ car.get_transmission_display }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-calendar-1"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Ano</h6>
                                            <p>{{ car.year }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-fuel"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Combustível</h6>
                                            <p>{{ car.get_fuel_type_display }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-engine"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Motor</h6>
                                            <p>{{ car.engine_size }}L</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-car-1"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Condição</h6>
                                            <p>{{ car.get_condition_display }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-door"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Portas</h6>
                                            <p>{{ car.doors }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="car-overview-box">
                                        <div class="car-overview-img">
                                            <i class="flaticon-seat"></i>
                                        </div>
                                        <div class="car-overview-content">
                                            <h6>Lugares</h6>
                                            <p>{{ car.seats }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="description mb-45">
                        <h3 class="heading-2">Descrição</h3>
                        <div class="description-text">
                            {{ car.description|linebreaks }}
                        </div>
                    </div>

                    <!-- Features -->
                    <div class="features mb-45">
                        <h3 class="heading-2">Características</h3>
                        <div class="row">
                            {% if car.air_conditioning %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Ar Condicionado</div>{% endif %}
                            {% if car.abs_brakes %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Travões ABS</div>{% endif %}
                            {% if car.airbags %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Airbags</div>{% endif %}
                            {% if car.backup_camera %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Câmara de Marcha Atrás</div>{% endif %}
                            {% if car.bluetooth %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Bluetooth</div>{% endif %}
                            {% if car.central_locking %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Fecho Central</div>{% endif %}
                            {% if car.electric_windows %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Vidros Elétricos</div>{% endif %}
                            {% if car.gps %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> GPS</div>{% endif %}
                            {% if car.leather_seats %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Bancos de Couro</div>{% endif %}
                            {% if car.parking_sensors %}<div class="col-lg-4 col-md-6"><i class="fa fa-check text-success"></i> Sensores de Estacionamento</div>{% endif %}
                        </div>
                    </div>

                    <!-- Reviews Section -->
                    {% if reviews %}
                    <div class="reviews mb-45">
                        <h3 class="heading-2">Avaliações ({{ reviews_count }})</h3>
                        <div class="review-summary mb-3">
                            <div class="rating-stars">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= avg_rating %}
                                        <i class="fa fa-star text-warning"></i>
                                    {% else %}
                                        <i class="fa fa-star-o text-muted"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="ml-2">{{ avg_rating }}/5</span>
                            </div>
                        </div>
                        {% for review in reviews %}
                        <div class="review-item border-bottom pb-3 mb-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>{{ review.buyer.get_full_name|default:review.buyer.username }}</strong>
                                    <div class="rating-stars">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= review.rating %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% else %}
                                                <i class="fa fa-star-o text-muted"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <small class="text-muted">{{ review.created_at|date:"d/m/Y" }}</small>
                            </div>
                            <p class="mt-2">{{ review.comment }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Seller Info -->
                    <div class="widget-3 mb-30">
                        <div class="sidebar-title mb-20">
                            <h4>Informações do Vendedor</h4>
                        </div>
                        <div class="seller-info-box">
                            <div class="seller-avatar mb-3">
                                <i class="fa fa-user-circle fa-3x text-primary"></i>
                            </div>
                            <h5>{{ car.seller.get_full_name|default:car.seller.username }}</h5>
                            <p class="text-muted">
                                <i class="fa fa-map-marker"></i> {{ car.city }}, {{ car.district }}
                            </p>
                            <p class="text-muted">
                                <i class="fa fa-calendar"></i> Membro desde {{ car.seller.date_joined|date:"M Y" }}
                            </p>
                            <p class="text-muted">
                                <i class="fa fa-car"></i> {{ car.seller.cars.count }} carros anunciados
                            </p>
                            
                            <!-- Contact Buttons -->
                            <div class="contact-buttons mt-3">
                                <a href="#" class="btn btn-primary btn-block mb-2" data-toggle="modal" data-target="#contactModal">
                                    <i class="fa fa-envelope"></i> Contactar Vendedor
                                </a>
                                <a href="tel:{{ car.seller.phone|default:'+351 XXX XXX XXX' }}" class="btn btn-success btn-block mb-2">
                                    <i class="fa fa-phone"></i> Ligar
                                </a>
                                <button class="btn btn-info btn-block mb-2" onclick="shareCarDetails()">
                                    <i class="fa fa-share-alt"></i> Partilhar
                                </button>
                                {% if user.is_authenticated %}
                                    <button class="btn btn-outline-danger btn-block" onclick="toggleFavorite()" id="favoriteBtn">
                                        {% if is_favorite %}
                                            <i class="fa fa-heart"></i> Remover dos Favoritos
                                        {% else %}
                                            <i class="fa fa-heart-o"></i> Adicionar aos Favoritos
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Car Stats -->
                    <div class="widget-3 mb-30">
                        <div class="sidebar-title mb-20">
                            <h4>Estatísticas</h4>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <i class="fa fa-eye text-primary"></i> 
                                <strong>{{ car.views }}</strong> visualizações
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-calendar text-primary"></i> 
                                Publicado há {{ car.created_at|timesince }}
                            </li>
                            {% if car.updated_at != car.created_at %}
                            <li class="mb-2">
                                <i class="fa fa-edit text-primary"></i> 
                                Atualizado há {{ car.updated_at|timesince }}
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Similar Cars -->
                    {% if similar_cars %}
                    <div class="widget-3 mb-30">
                        <div class="sidebar-title mb-20">
                            <h4>Carros Similares</h4>
                        </div>
                        {% for similar_car in similar_cars %}
                        <div class="similar-car-item mb-3">
                            <div class="row">
                                <div class="col-4">
                                    {% if similar_car.photos.first %}
                                        <img src="{{ similar_car.photos.first.photo.url }}" class="img-fluid rounded" alt="{{ similar_car.title }}">
                                    {% else %}
                                        <div class="bg-light d-flex align-items-center justify-content-center rounded" style="height: 60px;">
                                            <i class="fa fa-car text-muted"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <h6><a href="{% url 'car_detail' similar_car.id %}">{{ similar_car.title|truncatechars:25 }}</a></h6>
                                    <p class="text-primary mb-0">€{{ similar_car.price|floatformat:0 }}</p>
                                    <small class="text-muted">{{ similar_car.year }} • {{ similar_car.mileage|floatformat:0 }} km</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Car details page end -->

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contactar Vendedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="contactForm">
                    {% csrf_token %}
                    <input type="hidden" name="car_id" value="{{ car.id }}">
                    <div class="form-group">
                        <label for="contact_name">Nome</label>
                        <input type="text" class="form-control" id="contact_name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="contact_email">Email</label>
                        <input type="email" class="form-control" id="contact_email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="contact_phone">Telefone</label>
                        <input type="tel" class="form-control" id="contact_phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="contact_message">Mensagem</label>
                        <textarea class="form-control" id="contact_message" name="message" rows="4" placeholder="Olá, tenho interesse no seu {{ car.title }}. Podemos conversar?" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="sendContactMessage()">Enviar Mensagem</button>
            </div>
        </div>
    </div>
</div>

<script>
// Função para partilhar detalhes do carro
function shareCarDetails() {
    if (navigator.share) {
        navigator.share({
            title: '{{ car.title }}',
            text: 'Vê este {{ car.title }} por €{{ car.price|floatformat:0 }} na CarZone!',
            url: window.location.href
        }).then(() => {
            console.log('Partilha bem-sucedida');
        }).catch((error) => {
            console.log('Erro ao partilhar:', error);
            fallbackShare();
        });
    } else {
        fallbackShare();
    }
}

function fallbackShare() {
    // Fallback para browsers que não suportam Web Share API
    const url = window.location.href;
    const text = 'Vê este {{ car.title }} por €{{ car.price|floatformat:0 }} na CarZone! ' + url;
    
    if (navigator.clipboard) {
        navigator.clipboard.writeText(text).then(() => {
            alert('Link copiado para a área de transferência!');
        });
    } else {
        // Fallback mais antigo
        const textArea = document.createElement('textarea');
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
        alert('Link copiado para a área de transferência!');
    }
}

// Função para toggle de favoritos
function toggleFavorite() {
    {% if user.is_authenticated %}
        fetch('{% url "dashboard:toggle_favorite" car.id %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            const btn = document.getElementById('favoriteBtn');
            if (data.is_favorite) {
                btn.innerHTML = '<i class="fa fa-heart"></i> Remover dos Favoritos';
                btn.className = 'btn btn-danger btn-block';
            } else {
                btn.innerHTML = '<i class="fa fa-heart-o"></i> Adicionar aos Favoritos';
                btn.className = 'btn btn-outline-danger btn-block';
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao alterar favorito. Tente novamente.');
        });
    {% else %}
        alert('Precisa de fazer login para adicionar aos favoritos.');
        window.location.href = '{% url "authentication:login" %}';
    {% endif %}
}

// Função para enviar mensagem de contacto
function sendContactMessage() {
    const form = document.getElementById('contactForm');
    const formData = new FormData(form);
    
    // Aqui poderia fazer um POST para uma view que envia email
    // Por agora, vamos simular o envio
    const name = formData.get('name');
    const email = formData.get('email');
    const phone = formData.get('phone');
    const message = formData.get('message');
    
    // Criar link mailto como fallback
    const subject = encodeURIComponent(`Interesse no ${car.title}`);
    const body = encodeURIComponent(`
Olá {{ car.seller.get_full_name|default:car.seller.username }},

${message}

Os meus contactos:
Nome: ${name}
Email: ${email}
Telefone: ${phone}

Link do anúncio: ${window.location.href}

Cumprimentos,
${name}
    `);
    
    const mailtoLink = `mailto:{{ car.seller.email }}?subject=${subject}&body=${body}`;
    window.location.href = mailtoLink;
    
    // Fechar modal
    $('#contactModal').modal('hide');
    
    // Mostrar mensagem de sucesso
    alert('A abrir o seu cliente de email para enviar a mensagem...');
}

// Carousel controls
$(document).ready(function() {
    // Carousel selector
    $('#carDetailsSlider .carousel-indicators li').click(function() {
        $('#carDetailsSlider .carousel-indicators li').removeClass('selected');
        $(this).addClass('selected');
    });
});
</script>

<style>
.seller-info-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #f9f9f9;
}

.contact-buttons .btn {
    margin-bottom: 10px;
}

.similar-car-item {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;
}

.similar-car-item:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.rating-stars {
    font-size: 14px;
}

.review-item {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.badge {
    font-size: 12px;
    padding: 5px 10px;
}

.car-overview-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fff;
}

.car-overview-box:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.features .col-lg-4, .features .col-md-6 {
    margin-bottom: 10px;
}
</style>

{% endblock content %}


